<?xml version="1.0" encoding="utf-8"?>
<plugin
  id="com.cordova.sms"
  version="0.1.0"
  xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android">
  <name>SMS</name>
  <description>Android Cordova plugin for SMS and MMS device access, search, contacts, attachments, background watch, SIM-aware sends, and thread mutations.</description>
  <license>UNLICENSED</license>

  <engines>
    <engine name="cordova" version=">=10.0.0" />
  </engines>

  <js-module src="www/sms.js" name="sms">
    <clobbers target="cordova.plugins.sms" />
  </js-module>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Sms">
        <param name="android-package" value="com.cordova.sms.Sms" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.READ_SMS" />
      <uses-permission android:name="android.permission.RECEIVE_SMS" />
      <uses-permission android:name="android.permission.RECEIVE_MMS" />
      <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
      <uses-permission android:name="android.permission.SEND_SMS" />
      <uses-permission android:name="android.permission.SEND_RESPOND_VIA_MESSAGE" />
      <uses-permission android:name="android.permission.READ_PHONE_STATE" />
      <uses-permission android:name="android.permission.READ_CONTACTS" />
      <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
      <uses-permission android:name="android.permission.WRITE_SMS" />
      <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <receiver android:name="com.cordova.sms.SmsReceiver" android:exported="true">
        <intent-filter>
          <action android:name="android.provider.Telephony.SMS_RECEIVED" />
        </intent-filter>
        <intent-filter>
          <action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED" />
          <data android:mimeType="application/vnd.wap.mms-message" />
        </intent-filter>
        <intent-filter>
          <action android:name="com.cordova.sms.SMS_SENT" />
          <action android:name="com.cordova.sms.SMS_DELIVERED" />
          <action android:name="com.cordova.sms.MMS_SENT" />
        </intent-filter>
      </receiver>
      <receiver android:name="com.cordova.sms.SmsDeliverReceiver" android:exported="true" android:permission="android.permission.BROADCAST_SMS">
        <intent-filter>
          <action android:name="android.provider.Telephony.SMS_DELIVER" />
        </intent-filter>
      </receiver>
      <receiver android:name="com.cordova.sms.MmsDeliverReceiver" android:exported="true" android:permission="android.permission.BROADCAST_WAP_PUSH">
        <intent-filter>
          <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />
          <data android:mimeType="application/vnd.wap.mms-message" />
        </intent-filter>
      </receiver>
      <receiver android:name="com.cordova.sms.SmsBootReceiver" android:enabled="true" android:exported="true">
        <intent-filter>
          <action android:name="android.intent.action.BOOT_COMPLETED" />
          <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
        </intent-filter>
      </receiver>
      <activity
        android:name="com.cordova.sms.SmsComposeActivity"
        android:exported="true"
        android:noHistory="true"
        android:excludeFromRecents="true"
        android:theme="@android:style/Theme.NoDisplay">
        <intent-filter>
          <action android:name="android.intent.action.SENDTO" />
          <category android:name="android.intent.category.DEFAULT" />
          <data android:scheme="sms" />
          <data android:scheme="smsto" />
          <data android:scheme="mms" />
          <data android:scheme="mmsto" />
        </intent-filter>
      </activity>
      <service
        android:name="com.cordova.sms.SmsRespondService"
        android:exported="true"
        android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE">
        <intent-filter>
          <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
          <data android:scheme="sms" />
          <data android:scheme="smsto" />
          <data android:scheme="mms" />
          <data android:scheme="mmsto" />
        </intent-filter>
      </service>
      <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="$PACKAGE_NAME.cordova.sms.provider"
        android:exported="false"
        android:grantUriPermissions="true">
        <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/cordova_sms_file_paths" />
      </provider>
      <service android:name="com.cordova.sms.SmsWatchService" android:exported="false" android:foregroundServiceType="dataSync" />
    </config-file>

    <source-file src="src/android/res/xml/cordova_sms_file_paths.xml" target-dir="res/xml" />
    <source-file src="src/android/com/google/android/mms/MmsException.java" target-dir="src/com/google/android/mms" />
    <source-file src="src/android/com/google/android/mms/InvalidHeaderValueException.java" target-dir="src/com/google/android/mms" />
    <source-file src="src/android/com/google/android/mms/pdu/CharacterSets.java" target-dir="src/com/google/android/mms/pdu" />
    <source-file src="src/android/com/google/android/mms/pdu/EncodedStringValue.java" target-dir="src/com/google/android/mms/pdu" />
    <source-file src="src/android/com/google/android/mms/pdu/GenericPdu.java" target-dir="src/com/google/android/mms/pdu" />
    <source-file src="src/android/com/google/android/mms/pdu/MultimediaMessagePdu.java" target-dir="src/com/google/android/mms/pdu" />
    <source-file src="src/android/com/google/android/mms/pdu/PduBody.java" target-dir="src/com/google/android/mms/pdu" />
    <source-file src="src/android/com/google/android/mms/pdu/PduComposer.java" target-dir="src/com/google/android/mms/pdu" />
    <source-file src="src/android/com/google/android/mms/pdu/PduContentTypes.java" target-dir="src/com/google/android/mms/pdu" />
    <source-file src="src/android/com/google/android/mms/pdu/PduHeaders.java" target-dir="src/com/google/android/mms/pdu" />
    <source-file src="src/android/com/google/android/mms/pdu/PduPart.java" target-dir="src/com/google/android/mms/pdu" />
    <source-file src="src/android/com/google/android/mms/pdu/RetrieveConf.java" target-dir="src/com/google/android/mms/pdu" />
    <source-file src="src/android/com/google/android/mms/pdu/SendReq.java" target-dir="src/com/google/android/mms/pdu" />
    <source-file src="src/android/Sms.java" target-dir="src/com/cordova/sms" />
    <source-file src="src/android/SmsReceiver.java" target-dir="src/com/cordova/sms" />
    <source-file src="src/android/SmsDeliverReceiver.java" target-dir="src/com/cordova/sms" />
    <source-file src="src/android/MmsDeliverReceiver.java" target-dir="src/com/cordova/sms" />
    <source-file src="src/android/SmsBootReceiver.java" target-dir="src/com/cordova/sms" />
    <source-file src="src/android/SmsComposeActivity.java" target-dir="src/com/cordova/sms" />
    <source-file src="src/android/SmsRespondService.java" target-dir="src/com/cordova/sms" />
    <source-file src="src/android/SmsWatchService.java" target-dir="src/com/cordova/sms" />
  </platform>
</plugin>
